.account-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background: #000000;
    border: #6b6b6b solid 2px;
    border-radius: 10px;
    box-shadow: 0 10px 16px var(--shadow-color);
  }
  
  h2 {
    text-align: center;
    color: rgb(0, 178, 254);
    margin-bottom: 20px;
  }
  
  .account-details {
    margin-bottom: 20px;
  }
  
  .account-details p {
    font-size: 18px;
    color: #cbd4de;
    margin-bottom: 10px;
  }
  
  .logout-button {
    font-family: 'Nunito', sans-serif;
    background: rgb(200, 53, 69);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    display: block;
    width: 100%;
  }
  
  .logout-button:hover {
    background: rgb(255, 53, 69);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  