:root {
    --navbar-background-color: #000000;; /* Enhanced for a deeper noir look */
    --button-color: #333333; /* Adjusted for better contrast */
    --button-hover-color: #444444; /* Fine-tuned for a smoother hover effect */
    --text-color: #e0e0e0; /* Optimized for readability */
    --shadow-color: rgba(0, 0, 0, 0.9); /* Refined for a more pronounced depth */
}

.navbar {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: var(--navbar-background-color);
    border-bottom: #6b6b6b solid 2px; /* Match border with the rest of the website */
    box-shadow: 0 10px 16px var(--shadow-color); /* Enhanced shadow for depth */
    margin-bottom: 20px;
    color: var(--text-color);
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for background and shadow */
}

.navbar-logo {
    padding-top: 0.3rem;
    width: 45px;
    height: auto;
    transition: transform 0.3s ease; /* Smooth logo animation */
}

.navbar-logo:hover {
    transform: scale(1.1); /* Slight increase in size for interactive feedback */
}

.navbar-right {
    display: flex;
}

.navbar-buttons {
    display: flex;
    gap: 1.25rem; /* Increased horizontal spacing */
}

.navbar-button {
    font-family: 'Nunito', sans-serif;
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px var(--shadow-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar-button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
    box-shadow: 0 5px 10px var(--shadow-color); /* Enhanced shadow for depth */
}

.premium-button {
    background: linear-gradient(135deg, #007bff 0%, #6f42c1 100%);
    color: #e0e0e0;
    transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for all properties */
}

.premium-button:hover {
    background: linear-gradient(135deg, #007bff 0%, #6f42c1 100%);
    box-shadow: 0 0 3px #3391ff, 0 0 6px #8057d5; /* More pronounced shadow for interactive feedback */
    transform: scale(1.05); /* Slightly larger scale for emphasis */
}
