@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

body {
  background-color: #03033c;
  color: #e1e1e1;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 45px 45px 30px 45px;
  background: #161b22;
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(50, 50, 50, 0.1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1;
}

.logo {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

h2, h3 {
  text-align: center;
  color: #00b2fe;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1.1rem;
  font-weight: 600;
  color: #cbd4de;
  flex: 4; /* Increase this value */
}

.form-group input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  background: #0d1117;
  color: #c9d1d9;
  outline: none;
  transition: background 0.3s ease;
  text-align: center;
  flex: 0.5; /* Decrease this value */
  margin-left: 10px;
}

.form-group input:focus {
  background: #161b22;
}

.results {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.result-item span {
  font-weight: 500;
}

.result-item span:last-child {
  font-weight: 700;
}

.positive {
  color: #16bc7f;
}

.negative {
  color: #ff6b6b;
}

.form-divider {
  border-top: 2px solid #30363d;
  margin: 20px 0;
}
